* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.parent {
    display: none;
    flex-direction: column;
    width: 100%;
}

@media screen and (min-width : 320px) and (max-width : 350px) 
{
    .table-seats {
        display: flex;
        justify-content: center;
        gap: 10px;

    }

    .table-seats button {
        border: none;
        background-color: transparent;
        color: gray;
        z-index: 9;
    }

    .table-seats button:focus {
        color: black;
        font-weight: bold;
    }

    #two-seat {
        position: absolute;
        transform: rotate(-32deg);
        left: 5px;
        top: 105px;
    }

    #three-seat {
        position: absolute;
        transform: rotate(-15deg);
        left: 65px;
        top: 78px;
    }

    #four-seat {
        position: absolute;
        top: 68px;
    }

    #five-seat {
        position: absolute;
        transform: rotate(15deg);
        right: 65px;
        top: 78px;
    }
        

    #six-seat {
        position: absolute;
         transform: rotate(34deg);
        right: 5px;
        top: 105px;
    } 



    .image {
        width: 100%;
        display: flex;
        justify-content: center;
        position: relative;
        margin-top: 25px;
    }

    .image img {
        width: 95%;
    }
}


@media screen and (min-width : 351px) and (max-width : 410px)  
{
    .table-seats {
        display: flex;
        justify-content: center;
        gap: 10px;

    }

    .table-seats button {
        border: none;
        background-color: transparent;
        color: gray;
        z-index: 9;
    }

    .table-seats button:focus {
        color: black;
        font-weight: bold;
    }

    #two-seat {
        position: absolute;
        transform: rotate(-32deg);
        left: 5px;
        top: 115px;
    }

    #three-seat {
        position: absolute;
        transform: rotate(-17deg);
        left: 77px;
        top: 80px;
    }

    #four-seat {
        position: absolute;
        top: 67px;
    }

    #five-seat {
        position: absolute;
        transform: rotate(17deg);
        right: 77px;
        top: 80px;
    }
        

    #six-seat {
        position: absolute;
         transform: rotate(34deg);
        right: 5px;
        top: 115px;
    } 



    .image {
        width: 100%;
        display: flex;
        justify-content: center;
        position: relative;
        margin-top: 25px;
    }

    .image img {
        width: 95%;
    }
}

@media screen and (min-width : 411px) and (max-width : 430px) 
{
    .table-seats {
        display: flex;
        justify-content: center;
        gap: 10px;

    }

    .table-seats button {
        border: none;
        background-color: transparent;
        color: gray;
        z-index: 9;
    }

    .table-seats button:focus {
        color: black;
        font-weight: bold;
    }
    #two-seat {
        position: absolute;
        transform: rotate(-32deg);
        left: 5px;
        top: 120px;
    }

    #three-seat {
        position: absolute;
        transform: rotate(-15deg);
        left: 90px;
        top: 80px;
    }

    #four-seat {
        position: absolute;
        top: 67px;
    }

    #five-seat {
        position: absolute;
        transform: rotate(16deg);
        right: 90px;
        top: 80px;
    }
        

    #six-seat {
        position: absolute;
         transform: rotate(34deg);
        right: 5px;
        top: 120px;
    } 



    .image {
        width: 100%;
        display: flex;
        justify-content: center;
        position: relative;
        margin-top: 25px;
    }

    .image img {
        width: 95%;
    }
}

@media screen and (min-width : 431px) and (max-width : 768px)
{
    .table-seats {
        display: flex;
        justify-content: center;
        gap: 10px;

    }

    .table-seats button {
        border: none;
        background-color: transparent;
        color: gray;
        z-index: 9;
    }

    .table-seats button:focus {
        color: black;
        font-weight: bold;
    }

    #two-seat {
       position: absolute;
        transform: rotate(-39deg);
        left: 14px;
        top: 190px;
    }

    #three-seat {
        position: absolute;
        transform: rotate(-20deg);
        left: 160px;
        top: 105px;
    }

    #four-seat {
        position: absolute;
        top: 72px;
    }

    #five-seat {
        position: absolute;
        transform: rotate(20deg);
        right: 160px;
        top: 105px;
    }
        

    #six-seat {
       position: absolute;
        transform: rotate(39deg);
        right: 12px;
        top: 190px;
    } 



    .image {
        width: 100%;
        display: flex;
        justify-content: center;
        position: relative;
        margin-top: 25px;
    }

    .image img {
        width: 95%;
    }
} 


@media screen and (min-width : 320px) and (max-width : 768px) 
{

    .parent {
        display: flex;
        width: 100%;
        align-items: center;
        gap: 20px;
    }     

    .child-1 { 
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-top: 10px;
    }

    .child-1 p {
        margin-bottom: 0;
        font-weight: bold;

    }

    .sub-child-1 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
        color: black;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .sub-child-text-1 {
        font-size: 10px;
    }

    .sub-child-text-2 {
        font-size: 20px;
    }

    /* .table-seats {
        display: flex;
        justify-content: center;
        gap: 10px;

    }

    .table-seats a {
        text-decoration: none;
        color: black;
    }

    #two-seat {
        position: absolute;
        transform: rotate(-32deg);
        left: 5px;
        top: 105px;
    }

    #three-seat {
        position: absolute;
        transform: rotate(-15deg);
        left: 65px;
        top: 78px;
    }

    #four-seat {
        position: absolute;
        top: 68px;
    }

    #five-seat {
        position: absolute;
        transform: rotate(15deg);
        right: 65px;
        top: 78px;
    }
        

    #six-seat {
        position: absolute;
         transform: rotate(34deg);
        right: 5px;
        top: 105px;
    } 



    .image {
        width: 100%;
        display: flex;
        justify-content: center;
        position: relative;
        margin-top: 25px;
    }

    .image img {
        width: 95%;
    } */

    .all-tables-1 {
        display: flex;
        flex-direction: column;
        position: absolute;
        top:140px;
    }

    .all-tables-2 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 40px;
        width :100%
    }

    .all-tables-3 {
        margin-top: -30px;
    }

    .all-tables-4 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: -20px;
        width :100%
    }

    .all-tables-5 {
        margin-top: -30px;
    }


    .table-container {
      display: grid;
      grid-template-columns: 1fr auto 1fr;
      grid-template-rows: 1fr auto 1fr;
      justify-items: center;
      align-items: center;
      height: 130px;
      width: 130px;
      /* margin: 50px auto; */
      position: relative;
    }

    .center {
      grid-column: 2;
      grid-row: 2;
      width: 50px;
      height: 50px;
      background-color: #f0f0f0;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: bold;
      box-shadow: 0 0 5px rgba(0,0,0,0.1);
    }

    .connector {
      width: 30px;
      height: 20px;
      background: #dcdcdc;
      /* border-radius: 5px; */
      box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    }

    .top    { grid-column: 2; grid-row: 1; border-top: 1px solid rgb(73, 70, 70); border-bottom-right-radius: 8px;border-bottom-left-radius: 8px;}
    .right  { grid-column: 3; grid-row: 2; transform: rotate(90deg);border-top: 1px solid rgb(73, 70, 70); border-bottom-right-radius: 8px;border-bottom-left-radius: 8px; }
    .bottom { grid-column: 2; grid-row: 3; transform: rotate(180deg);border-top: 1px solid rgb(73, 70, 70); border-bottom-right-radius: 8px;border-bottom-left-radius: 8px; }
    .left   { grid-column: 1; grid-row: 2; transform: rotate(-90deg); border-top: 1px solid rgb(73, 70, 70); border-bottom-right-radius: 8px;border-bottom-left-radius: 8px;}


    .seats-position {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 12px;
        gap: 10px;
        width: 95%;
    }

    .seats-position p {
        margin-bottom: 0;
    }

    .add-card {
        text-decoration: none;
        text-align: center;
        width: 95%;
        padding: 10px;
        background-color: #007ab3;
        color: white;
        font-weight: bold;
        border-radius: 10px;
    }


}
